:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.chakra-card .replay {
  background: black !important;
}

.chakra-card .replay-controls-bar {
  display: none !important;
}

.chakra-card .replay-ui-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chakra-card .replay-video-streamer {
  position: relative;
  height: unset;
}

.replay-slider.replay-timeline {
  visibility: hidden !important;
}

.replay-narrow .replay-controls-bar {
  height: unset !important;
}