[Unit]
Description=FFmpeg service which broadcasts internet cameras
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
WorkingDirectory=/var/pexel/ffmpeg-streams
ExecStart=/var/pexel/ffmpeg-streams/venv/bin/python /var/pexel/ffmpeg-streams/main.py
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
